
* {
	font-family: sans-serif;
	font-size: 12px;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background-image: url('../img/algete-by-dondepresor.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: gray;
}

body.notReady {
	opacity: 0;
}
body.getReady {
	animation: fadein 0.5s;
}
body.ready {
	opacity: 1;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

span.logos {
	position: absolute;
	display: inline-block;
	color: white;
	right: 5px;
	bottom: 5px;
}

.dhxform_obj_dhx_web .dhxform_textarea {
	font-family: sans-serif !important;
}
